#
# K2HDKC DBaaS Command Line Interface - K2HR3 CLI Plugin
#
# Copyright 2021 Yahoo Japan Corporation.
#
# K2HDKC DBaaS is a DataBase as a Service provided by Yahoo! JAPAN
# which is built K2HR3 as a backend and provides services in
# cooperation with OpenStack.
# The Override configuration for K2HDKC DBaaS serves to connect the
# components that make up the K2HDKC DBaaS. K2HDKC, K2HR3, CHMPX,
# and K2HASH are components provided as AntPickax.
#
# For the full copyright and license information, please view
# the license file that was distributed with this source code.
#
# AUTHOR:   Takeshi Nakatani
# CREATE:   Mon Mar 1 2021
# REVISION:
#

#---------------------------------------------------------------------
# Sub RESOURCE Keys for K2HDKC DBAAS CLI
#---------------------------------------------------------------------
#
# Configuration for values that can be set for the K2HDKC DBAAS CLI.
# The format is a format that can be read by a shell script.
#	<Keyword>=<value>
# (please do not put a space before and after the equal.)
#

#
# Server RESOURCE Keys
#
# DATABASE_SERVER_KEY_INI_PKG		: for "k2hr3-init-packages" key
# DATABASE_SERVER_KEY_INI_PCPKG		: for "k2hr3-init-packagecloud-packages" key
# DATABASE_SERVER_KEY_INI_SYSPKG	: for "k2hr3-init-systemd-packages" key
# 
DATABASE_SERVER_KEY_INI_PKG=""
DATABASE_SERVER_KEY_INI_PCPKG="k2hdkc-dbaas-override-conf,k2hr3-get-resource,chmpx,k2hdkc"
DATABASE_SERVER_KEY_INI_SYSPKG="chmpx.service,k2hdkc.service,k2hr3-get-resource.timer"

#
# Slave RESOURCE Keys
#
# DATABASE_SLAVE_KEY_INI_PKG		: for "k2hr3-init-packages" key
# DATABASE_SLAVE_KEY_INI_PCPKG		: for "k2hr3-init-packagecloud-packages" key
# DATABASE_SLAVE_KEY_INI_SYSPKG		: for "k2hr3-init-systemd-packages" key
# 
DATABASE_SLAVE_KEY_INI_PKG=""
DATABASE_SLAVE_KEY_INI_PCPKG="k2hdkc-dbaas-override-conf,k2hr3-get-resource,chmpx"
DATABASE_SLAVE_KEY_INI_SYSPKG="chmpx.service,k2hr3-get-resource.timer"

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: expandtab sw=4 ts=4 fdm=marker
# vim<600: expandtab sw=4 ts=4
#
